{% extends "base.html" %}
{% block title %}
    Password Reset
{% endblock %}

{% block header %}
    <h2 style="font-size:200%;color:white;font-family:arial;margin-top: 0; position: relative; top: 6px; left: 11px;">
    	Password Reset</h2>
{% endblock %}

{% block content %}
    <p style = "font-size:100%;font-family:arial;color:#191970;position:relative;top:60px;left:100px"> Please input  current password.</p>
        <form action = "" method = "POST">
        	<input type="password" name="current_password" style = "width:200px;height:30px;position:relative;top:50px;left:100px"/>
        	<br/><br/><br/><br/>
        <p style = "font-size:100%;font-family:arial;color:#191970;position:relative;top:30px;left:100px"> Please input new password.</p>
        	<input type="password" name="new_password" style = "width:200px;height:30px;position:relative;top:20px;left:100px"/>
        	<br/>
        	<input type="password" name="repeat_password" style = "width:200px;height:30px;position:relative;top:30px;left:100px"/>
        	<br/><br/>
        	<input type="submit"
                       style="width:100px; height:30px; font-size:90%; background:#191970; color:white; position: relative; top: 23px;left: 100px;"
                       value="Confirm" name="action"/>
        	</form>
{% endblock %}